body{
    cursor: crosshair;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    min-height: 0vh;
}

.bubble{
    position: absolute;
    border-radius: 300px;
    background:rgba(255, 166, 0, 0.6) ;
    opacity: 0;
    filter: hue-rotate(0deg);
    animation: anim 8s forwards ;
}

@keyframes anim {
    to{
        top: -250px;
        opacity: 1;
        left: var(--left);
        filter: hue-rotate(720deg);
    }
}
h3{
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color: rgba(128, 128, 128, 0.486);
}

p{
    opacity: 0.4;
    min-height: 6rem;
    position: absolute;
    right: 10px;
    
}